.additional-services {
  text-align: center;
  background-color: @bg-color;
  padding: 95px 0 85px 0;

  &__subtitle {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__list {}

  &__item {
    font-family: @font-lora;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.22;
    margin-bottom: 5px;

    &:first-child {
      margin-right: 25px;
    }

    img {
      padding-right: 30px;
      transform: translate(0,-2px);
    }
  }
}