.advantages {
  background-color: @bg-color;
  padding: 75px 0 90px 0;

  &__subtitle {
    margin-bottom: 75px;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__info {
    padding-top: 17px;
  }

  &__image {
    text-align: right;

    @media (min-width: @screen-lg) {
      text-align: left;
    }
  }

  &__text {
    font-family: @font-lora;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    max-width: 330px;
  }

  &__cover {
    text-align: center;
    width: 60px;
    min-height: 360px;
    margin: 0 auto;
    position: relative;
    background-image: url(../img/empire-catering.png);
    background-repeat: no-repeat;
    background-size: 19px 258px;
    background-position: center;

    &:after {
      position: absolute;
      content: '';
      width: 1px;
      height: 220px;
      background-color: @gold;
      top: 0;
      right: 0;
    }

    &:before {
      position: absolute;
      content: '';
      width: 1px;
      height: 220px;
      background-color: @gold;
      bottom: 0;
      left: 0;
    }
  }

  &__list {

    &--first {
      text-align: left;

      @media (min-width: @screen-md) {
        text-align: right;
      }
    }

    &--second {
      text-align: left;
    }
  }
}