.bg-shape {

  @media (min-width: @screen-lg) {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      background-image: url(../img/bg-shape-right.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 126px;
      height: 126px;
      top: 50%;
      right: 4%;
      transform: translate(50%, -50%);
    }

    &:before {
      position: absolute;
      content: '';
      background-image: url(../img/bg-shape-left.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 126px;
      height: 126px;
      top: 50%;
      left: 4%;
      transform: translate(-50%, -50%);
    }
  }
}
