.button {
  font-family: @font-lora;
  color: @gray-dark;
  background: @btn-color;
  font-size: 20px;
  letter-spacing: 0.7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 18px 19px 18px 19px;
  border-bottom: 1px solid #8b691f;

  &:hover {
    text-decoration: none;
    color: @gray-dark;
    font-family: @font-lora;
    background: @btn-color-hover;
  }

  &:active,
  &:focus {
    text-decoration: none;
    color: @gray-dark;
    font-family: @font-lora;
    background: @btn-color-hover;
  }

  // Button in header
  &--header-btn {
    padding: 8px 15px 8px 15px;
  }

  // Button in forms
  &--form-submit {
    min-width: 250px;
    vertical-align: top;
    padding: 16px 19px 16px 19px;
  }

  // Button on gray background like footer
  &--bg-gray {
    color: @gold;
    background: transparent;
    border-top: 1px solid #e4c759;
    border-bottom: 1px solid #8b5e2a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    -webkit-background-size: 1px 100%;
    -moz-background-size: 1px 100%;
    background-size: 1px 100%;
    background-image: linear-gradient(to bottom, #e4c759 0%, #8b5e2a 100%), linear-gradient(to bottom, #e4c759 0%, #8b5e2a 100%);

    &:hover {
      color: @gold;
      background-color: transparent;
      border-top: 1px solid #e4c759;
      border-bottom: 1px solid #8b5e2a;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      -webkit-background-size: 1px 100%;
      -moz-background-size: 1px 100%;
      background-size: 1px 100%;
      background-image: linear-gradient(to bottom, #e4c759 0%, #8b5e2a 100%), linear-gradient(to bottom, #e4c759 0%, #8b5e2a 100%);

      text-decoration: underline;
      box-shadow: 0px 1px 5px 1px rgba(139,94,42,0.75);
    }

    &:active,
    &:focus {
      color: @gold;
      background: transparent;
      border-top: 1px solid #e4c759;
      border-bottom: 1px solid #8b5e2a;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      -webkit-background-size: 1px 100%;
      -moz-background-size: 1px 100%;
      background-size: 1px 100%;
      background-image: linear-gradient(to bottom, #e4c759 0%, #8b5e2a 100%), linear-gradient(to bottom, #e4c759 0%, #8b5e2a 100%);
    }
  }
}

