.catering-order {
  background-color: @bg-color;
  background-image: url(../img/catering-order/bg-catering-order.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 75px 0 70px 0;
  color: #fff;
  text-align: center;
  position: relative;

  &__subtitle {
    margin-bottom: 45px;
  }

  &__description {
    display: block;
    font-family: @font-lora;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}