.conditions {
  background-color: @bg-color;
  padding: 30px 0 47px 0;

  &__cover {
    text-align: center;

    img {
      width: 397px;
      height: auto;
    }
  }

  &__info {
    padding-top: 70px;
  }

  &__subtitle {
    text-align: left;
    margin-bottom: 40px;
  }

  &__item {
    font-family: @font-lora;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.22;
    margin-bottom: 8px;
    padding-left: 23px;
    background-image: url(../img/svg-sprite/check-min.svg);
    background-repeat: no-repeat;
    background-position-y: 3px;
  }
}