.customers {
  text-align: center;
  padding: 75px 0 60px 0;

  &__subtitle {
    margin-bottom: 35px;
  }

  &__description {
    display: block;
    font-family: @font-lora;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 1.22;
    color: @gray-dark;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__gallery {
    margin-bottom: 40px;
  }
}
