.events {
  text-align: center;
  background-color: @bg-color;
  padding: 75px 0 75px 0;

  &__subtitle {
    margin-bottom: 88px;
  }

  &__item {}

  &__name {
    text-align: left;
    font-family: @font-lora;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.44;
    margin-bottom: 18px;
  }

  &__gallery {
    width: 270px;
    height: 250px;
    position: relative;
    cursor: pointer;

    &:hover {
      .events__overlay {
        display: block;
      }
    }
  }

  &__element {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 250px;
    cursor: pointer;
  }

  &__overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: @gray-dark;
    opacity: 0.79;
    cursor: pointer;
    padding-top: 90px;

    & a {
      width: 188px;
      font-family: @font-family;
      font-size: 14px;
      color: @gold;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-weight: 400;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      white-space: nowrap;
      padding: 18px 19px 18px 19px;
      border: 1px solid @gold;
      background-color: transparent;
    }
  }
}