.form-popup {

  &__group {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__form-input {
    color: @gray;
    width: 250px;
    height: 60px;
    padding: 21px 19px 20px 19px;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.4);
    border: none;

    &:focus {
      box-shadow: inset 0 0 6px 0 #c9a74b;
      outline: none;
    }
  }
}