.free-consultation {
  text-align: center;
  padding: 75px 0 75px 0;

  &__subtitle {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__description {
    max-width: 430px;
    margin: 0 auto;
    font-family: @font-lora;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.22;
    margin-bottom: 30px;
  }
}