.free-tasting {
  text-align: center;
  background-color: @bg-color;
  padding: 75px 0 56px 0;

  &__subtitle {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__description {
    display: block;
    max-width: 315px;
    margin: 0 auto;
    font-family: @font-lora;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.22;
    margin-bottom: 25px;
  }
}