.header-nav {

  &__list {

    @media (min-width: @screen-md) {
      text-align: center;
      display: table;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding-top: 10px;
      margin-top: 20px;

      & li {
        list-style: none;
        display: table-cell;
      }
    }
  }

  &__delimiter {

    @media (min-width: @screen-md) {
      position: relative;

      &:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border: 1px solid #fff;
        opacity: 0.5;
        transform: translate(-50%, -50%);
      }

      &--first:before {
        left: 0px;
        top: 50%;
      }

      &--second:before {
        left: 5px;
        top: 50%;
      }

      &--third:before {
        left: -4px;
        top: 50%;
      }

      &--fourth:before {
        left: 0px;
        top: 50%;
      }

      &--fifth:before {
        left: 5px;
        top: 50%;
      }
    }
  }

  &__item {

    @media (min-width: @screen-md) {
      display: table-cell;
      text-transform: uppercase;
      font-family: @font-lora;
      font-size: 16px;
      font-style: normal;
      color: #fff;
    }
  }
}