.how-to-order {
  padding: 75px 0 50px 0;
  overflow: hidden;

  &__subtitle {
    margin-bottom: 100px;
  }

  &__steps {
    background-image: url(../img/how-to-order/how-to-order-block-cover.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  &__steps-list {
    max-width: 950px;
    margin-left: 200px;
  }

  &__steps-item {
    display: inline-block;
    width: 410px;
    position: relative;

    &:nth-child(4n+1){
      margin-left: 101px;
    }

    &:after {
      position: absolute;
      content: '';
      width: 430px;
      height: 1px;
      background-color: @floral;
      top: 68px;
      left: 0;
    }
  }

  &__steps-icon {
    display: block;
  }

  &__info {
    max-width: 330px;
    font-family: @font-lora;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.22;
    transform: translate(35px,-38px);
  }
}
