.menu-included {
  text-align: center;
  padding: 75px 0 45px 0;

  &__subtitle {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  &__item {
    font-family: @font-lora;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;

    img {
      margin-bottom: 20px;
    }
  }

  &__item-info {
    margin-bottom: 10px;
  }
}