.needed {
  text-align: center;
  padding: 50px 0 50px 0;

  &__subtitle {
    margin-bottom: 80px;
  }

  &__item {
    margin-bottom: 50px;

    img {
      width: 90px;
      margin-bottom: 15px;
    }
  }

  &__info {
    font-family: @font-lora;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
  }
}