.our-location {
  background-color: @bg-color;
  color: @gray-dark;
  padding: 50px 0 30px 0;
  text-align: center;

  @media (min-width: 992px) {
    min-height: 400px;
    padding: 100px 0 30px 0;
  }

  &__info {
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 35px;
  }

  &__item {
    font-size: 18px;
    font-family: @font-lora;
    font-style: italic;
    line-height: 1.64;
    letter-spacing: 0.6px;

    & span {
      color: @gray;
    }
  }
}