.page-footer {
  background-color: @gray-dark;
  box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 23px 0 21px 0;

  &__logo {
    text-align: center;

    a {
      line-height: 63px;
    }

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  &__contacts {
    text-align: right;
  }

  &__phone {
    display: inline-block;
    text-align: right;
    margin-right: 25px;

    & a {
      color: #fff;
      font-family: @font-lora;
      font-style: italic;
      font-size: 18px;
    }
  }

  &__feedback {
    display: inline-block;
    text-align: right;
  }
}