.page-header {
  text-align: center;
  background-color: @gray-dark;
  color: #fff;
  padding: 25px 0 14px 0;

  &__logo {
    margin-bottom: 8px;
  }

  &__slogan {
    text-align: center;

    @media (min-width: @screen-md) {
      text-align: left;
    }
  }

  &__text {
    display: block;
    font-family: @font-lora;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.13;
    color: #fff;
    margin-bottom: 6px;

    @media (min-width: @screen-md) {
      font-size: 24px;
    }
  }

  &__description {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    font-family: @font-family;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
    color: @gold;
    margin-bottom: 10px;

    @media (min-width: @screen-md) {
      margin: 0 auto 0 0;
    }
  }

  &__feedback {

    @media (min-width: @screen-md) {
      text-align: right;
    }
  }

  &__phone {
    display: block;
    font-family: @font-lora;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 1.8px;
    color: #fff;
    margin-bottom: 8px;
  }
}