.popup {
  text-align: center;
  padding: 60px 0 70px 0;

  &__subtitle {
    font-family: @font-lora;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    color: #404040;
    margin-bottom: 10px;
  }

  &__description {
    font-family: @font-family;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #404040;
    margin-bottom: 45px;
  }
}