.promo-mobile-buffet {
  text-align: center;
  background-color: @bg-color;
  background-image: url(../img/promo/bg-promo-mobile-buffet.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 315px;
  padding: 45px 0 45px 0;

  &__info {
    max-width: 510px;
    min-height: 225px;
    margin: 0 auto;
    background-image: url(../img/promo/bg-info.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 54px 0 53px 0;
  }

  &__title {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__description {
    max-width: 311px;
    margin: 0 auto;
    font-family: @font-lora;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.22;
  }
}