.promo {
  background-color: @bg-color;
  background-image: url(../img/promo/bg-promo-block.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 510px;
  padding: 68px 0 67px 0;

  &__info {
  background-image: url(../img/promo/bg-info.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 770px;
  min-height: 375px;
  padding: 65px 54px 55px 54px;
  }

  &__description {
  font-family: @font-lora;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.22;
  margin-bottom: 25px;
  }
}