.services {
  text-align: center;
  padding: 50px 0 38px 0;

  .subtitle {
    margin-bottom: 64px;
  }

  &__item {
    max-width: 370px;
    margin-bottom: 30px;
    position: relative;

    &:hover {
      .services__overlay {
        display: block;
      }
    }
  }

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 165px;
  }

  &__info {
    background-color: @gray-dark;
    color: #fff;
    text-align: left;
    padding: 25px 14px 25px 14px;
  }

  &__title {
    font-family: @font-lora;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.7px;
    margin-bottom: 9px;
  }

  &__description {
    font-size: 14px;
  }

  &__description-about {
    font-family: @font-family;
    font-weight: 400;
    font-style: normal;
  }

  &__description-cost {
    font-family: @font-lora;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    color: @gold;
    width: 80px;
  }

  &__overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: @gray-dark;
    opacity: 0.79;
    cursor: pointer;
    padding-top: 80px;

    & a {
      width: 330px;
      font-family: @font-family;
      font-size: 14px;
      color: @gold;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-weight: 400;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      white-space: nowrap;
      padding: 18px 19px 18px 19px;
      border: 1px solid @gold;
      background-color: transparent;
      margin-bottom: 18px;
    }
  }
}