.subtitle {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;

  &--bg-gray {
    color: #fff;
  }

  &--underline-center {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 40px;
      height: 1px;
      bottom: -15px;
      left: 50%;
      transform: translate(-50%);
      background-color: #3b3b3b;
    }
  }

  &--underline-white {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 40px;
      height: 1px;
      bottom: -15px;
      left: 50%;
      transform: translate(-50%);
      background-color: #fff;
    }
  }

  &--with-icon {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      background-image: url(../img/subtitle-icon.png);
      background-repeat: no-repeat;
      width: 224px;
      height: 27px;
      bottom: -40px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}



