.title {
  font-size: 40px;
  line-height: 1.05;
  letter-spacing: 1px;
  color: @gray-dark;
  margin-bottom: 37px;
  position: relative;

  &--underline-center {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 40px;
      height: 1px;
      bottom: -15px;
      left: 50%;
      transform: translate(-50%);
      background-color: #3b3b3b;
    }
  }
}

.title-underline {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    bottom: -23px;
    left: 0;
    background-color: #3b3b3b;
  }
}