body {
  min-width: 320px;
  margin: 0;
  font-family: @font-family;
  color: @text-color;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-lora;
  font-weight: 400;
  font-style: normal;
}

input, button {
  border: none ;
}

a {
  cursor: pointer;
}