@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1920px;

@text-color:                  #373737;
@bg-color:                    #f6f3eb;

@gold:                        #c9a74b;
@pearl:                       #e5deca;
@floral:                      #faf6ec;
@gray:                        #a1a1a1;
@gray-dark:                   #373737;

@btn-color:                   #e4c759;
@btn-color-hover:             #8b691f;

@font-family:                 'Open Sans_my', sans-serif;
@font-lora:                   'Lora', serif;
@font-size:                   14px;