<header class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-md-push-5">
        <div class="page-header__logo">
          <a class="main-logo">
            <img src="img/logo.svg" alt="">
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-5 col-md-pull-2">
        <div class="page-header__slogan">
          <strong class="page-header__text">Кейтеринг в Санкт-Петербурге</strong>
          <strong class="page-header__description">Проведение выездных банкетов, фуршетов, кофе-брейков</strong>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="page-header__feedback">
          <a href="tel:+78127162133" class="page-header__phone">+7 (812) 716-21-33</a>
          <a href="#" class="button  button--header-btn">Заказать обратный звонок</a>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-default">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="header-nav__list nav nav-justified">
            <li><a href="#" class="header-nav__item">Услуги</a></li>
            <li class="header-nav__delimiter  header-nav__delimiter--first"><a href="#" class="header-nav__item">Меню и цены</a></li>
            <li class="header-nav__delimiter  header-nav__delimiter--second"><a href="#" class="header-nav__item">Мобильный фуршет</a></li>
            <li class="header-nav__delimiter  header-nav__delimiter--third"><a href="#" class="header-nav__item">Преимущества</a></li>
            <li class="header-nav__delimiter  header-nav__delimiter--fourth"><a href="#" class="header-nav__item">Мероприятия</a></li>
            <li class="header-nav__delimiter  header-nav__delimiter--fifth"><a href="#" class="header-nav__item">Контакты</a></li>
          </ul>
        </div>
      </div>
    </nav>
</header>