<footer class="page-footer">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-4">
          <div class="page-footer__logo">
            <a href="#">
              <img class="main-logo  main-logo--footer" src="img/logo.svg" alt="">
            </a>
          </div>
        </div>

        <div class="hidden-xs hidden-sm col-md-8">
          <div class="page-footer__contacts">
            <div class="page-footer__phone">
              <a href="tel:+78127162133">тел. +7 (812) 716-21-33</a>
            </div>
            <div class="page-footer__feedback">
              <a href="#" class="button button--bg-gray">Заказать обратный звонок</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>